.html { 
    -webkit-text-size-adjust: none; 
}

.body {
    margin: 0%;
    height: 100vh;
}

#waiting-room-header {
    height: 66px;
    width: 100%;
    border-bottom: solid #C9C9C9 2px;
}

#waiting-room-title {
    padding-top: 15px;
    text-align: center;
    font-family: NanumSquareRound;
    font-weight: 700;
    color: #707070;
    font-size: 25pt;
}

#waiting-buffering {
    margin: 15% 0% 0% 22%;   
}

#waiting-buffering-img {
    width: 190px;
    height: 170px;
}

#waiting-info-text {
    margin-top: 5%;
    text-align: center;
    font-family: NanumSquareRound;
    font-size: 15pt;
    color: #707070;
}