body {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    color: #707070;
}

#header {
    margin: 0;
    padding: 20px 20px;
    text-align: center;
    box-shadow: 0 3px 3px #70707050;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    font-size: 25pt;
    color: #707070;
}

#form-for-enter {
    display: absolute;
    text-align: center;
    transform: translate(0, 40%);
}

#waiting-content {
    display: flex;
}

#waiting {
    flex: 1;
}

#warning {
    flex: 1;
    margin: 0;
    padding: 40px 20px;
}

#warning-icon {
    color: rgb(255, 217, 0);
}

#warning-header {
    font-size: 20pt;
    font-weight: 600;
    text-align: center
}

#warning-content {
    padding: 20px 40px;
}

#nickname-form {
    padding: 20px 40px;
    float: right;
}

#waiting-list {
    margin: 60px 40px 0px 20px;
}

#score {
    margin: 20px 40px;
}

#QuestionNumber {
    margin-top: -40px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: #979797;
    text-shadow: -2px 0 #707070, 0 2px #707070,
    2px 0 #707070, 0 -2px #707070;
}

#Question {
    margin: -30px 40px;
    padding: 30px 20px;
    background-color: #70707050;
    border-top: 2px solid #979797;
}

#multipleAnswers {
    margin: 50px 35px;
    display: flex;
}

#explanation {
    padding: 30px 20px;
    background-color: #70707050;
    border-top: 2px solid #979797;
    margin: -30px 40px;
    display: none;
}

#wrongAnswer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Righteous', cursive;
    font-size: 500px;
    color: #FF000050;
    display: none;
}

#rightAnswer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Righteous', cursive;
    font-size: 500px;
    color: #00740050;
    display: none;
}

#first-link {
    border: none;
    background-color: #70707050;
    padding: 20px 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #707070;
    margin: 30px auto;
    display: block;
}

#winner-notice {
    margin: 40px auto;
    text-align: center;
    width: 50%;
}

#get-phonenumber-form {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

#input-phonenumber {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    padding: 10px;
    width: 40%;
}

.submitButton {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    padding: 10px;
    background-color: #70707050;
    color: #707070;
    border: none;
}

.textbox-for-enter {
    font-family: 'Nanum Gothic', sans-serif;
    color: #707070;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.user-nickname {
    padding: 20px 40px;
    border-bottom: 1px solid #70707050;
}

.multipleAnswer {
    border: none;
    background-color: #70707050;
    padding: 20px 20px;
    color: #707070;
    flex: 1;
    font-size: 20px;
    margin: 0 5px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
}

.ranking-firstprize {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranking {
    flex: 1;
    text-align: center;
}

.prize {
    margin: 80px 0px;
}

.user-name {
    margin-left: 50px;
}

.final-score {
    margin-left: 50px;
}

.first-prize-link {
    display: absolute;
    flex: 1;
    text-align: center;
}